

%ul#menu_main.menu
  %li= link_to t('g.home'), '/'
  %li= link_to t('cities.list'), cities_path
  %li= link_to t('dictitems.title'), dictionaryitems_path
  %li= link_to t('reports.list'), reports_path
  %li= link_to t('users.list'), users_path
  %li= link_to t('galleries.list'), galleries_path
  %li= link_to t('tags.list'), tags_path
  -#%li= link_to t('events.list'), events_path
  -#%li= link_to t('videos.list'), videos_path