

#set_locale{ :class => @parsed_locale }
  .en= link_to(image_tag('flags/en.png'), "http://#{EN_URL}#{request.fullpath}")
  .pt= link_to(image_tag('flags/br.png'), "http://#{PT_URL}#{request.fullpath}")
  .ru= link_to(image_tag('flags/ru.png'), "http://#{RU_URL}#{request.fullpath}")
  .clear