!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title
      = h yield(:title)
      \- Infinite Shelter
    %link{:href => "http://fonts.googleapis.com/css?family=Trykker|Mate+SC", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'application_lizza'
    = csrf_meta_tags
    = javascript_include_tag 'application', 'http://w.sharethis.com/button/buttons.js'
    = render 'analytics'
      
  %body
    #header.container
      .row
        .twocol
          #logo
            %h1 Infinite Shelter
            = link_to image_tag('logo_60x60.png'), '/'
        .sixcol
          =render 'menu_main_20120715'          
        .fourcol.last
          =render 'login_register'
      
    = render 'ads/leaderboard'

    = yield

    #footer.container
      .row
        .sixcol
          %p Copyright &copy; CAC 2009-2011 
        .sixcol.last
          %ul
            %li= link_to 'About', '/about'
            %li= link_to 'Contact', '/'
            %li= link_to 'Terms of Use', '/'
            %li= link_to 'Privacy Policy', '/privacy-policy'
    = render 'ads/adbrite'