!!!
%html
  %head
    %title
      = h yield(:title)
      \- 
      = t 'g.ish'
    %link{:href => "http://fonts.googleapis.com/css?family=Asul", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'application_light_semantic'
    = csrf_meta_tags
    = javascript_include_tag 'application', 'http://w.sharethis.com/button/buttons.js'
    = render 'analytics'
      
  %body
    #layout_light_semantic
      = render :partial => 'header_20120713'
      = render 'admin/ctrl'

      #ad_leaderboard= render 'ads/leaderboard'

      #content_main
        %div{ :id => @action_name }

          - if content_for?(:header_one)
            #header_one= yield(:header_one)

          - if content_for?(:header_two)
            #header_two= yield(:header_two)

          - if content_for?(:header_three)
            #header_three= yield(:header_three)


          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert


          - if content_for?(:sidebar)
            #sidebar
              = yield(:sidebar)
          - if content_for?(:main)
            #main
              = yield(:main)

          - if content_for?(:one)
            #column_one
              = yield(:one)
          - if content_for?(:two)
            #column_two
              = yield(:two)


          = yield(:content) if content_for?(:content)
          = yield

          #content_footer= yield(:footer) if content_for?(:footer)

      = render 'footer_20120713'
      = render 'ads/adbrite'
    
